<%= image_tag ("25anos.jpg"), class:"first_image" %>
<div class="container-fluid percursos">
	<div class="row">
    	<div class="col-12">
            <h5 class="home_title">Percursos BTT</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_lapa_path%>
        </div>

        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_sameiro_path%>
        </div>

        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_mondego_path%>
        </div>

        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_valeglaciar_path%>
        </div>

        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_penhasdouradas_path%>
        </div>

        <div class="col-md-4 col-sm-6 col-12"> 
            <%= link_to image_tag("percurso_temp.png", :class => "image_percursos"), home_rota_corredormouros_path%>
        </div>
                
     </div>

 </div>