<div class="container-fluid rotas" style="padding-bottom: 90px;">
  <div class="row">
    <div class="col-12">
          <a>
              <h2 class="text-center title_loja">LOJA</h2>
          </a>  
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Casaco_com_Capuz.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Casaco com Capuz   
        </p>
      </div>


      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/T-shirt.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          T-shirt  
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Casaco_de_Equipamento.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Casaco de Equipamento 
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Equipamento1.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Equipamento 1
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Equipamento2.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Equipamento 2
        </p>
      </div>

       <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Equipamento_Trail.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Equipamento Trail
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Bidon.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Bidon
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Meias.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Meias
        </p>
      </div>

      <div class="col-12 col-md-6 product">
        <%= link_to home_contactos_path, :action => 'go' do %>
          <%= image_tag ("Produtos/Calca_Pirata.png"), class:"produto" %>
        <% end %>
        <p class="produto_nome">
          Calça Berlingo
        </p>
      </div>


    </div>
  </div>
  
</div>