<div class="container-fluid rotas" style="padding-bottom: 90px;">
  <div class="row">
    <div class="col-12">
          <a>
              <h2 class="text-center title_pages">LOJA</h2>
          </a>  
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @produtos.each do |produto| %>
        <div class="col-xs-12 col-md-6 product">
            <div class="col-9 border_produto">
              <%= link_to home_contactos_path, :action => 'go' do %>
                  <%= image_tag (produto.image), class:"produto" %>
                  <!--<td><%= link_to 'Show', produto %></td>
                  <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
                  <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
              <% end %>
            </div>

          <p class="produto_nome">
            <%= produto.nome %>   
          </p>
        </div>
      <% end %>
    </div>
  </div>
  
</div>


<!--<%= link_to 'New Produto', new_produto_path %>-->
